
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>
        Examples <small>Ejemplos de componentes de bootstrap</small>
    </h1>
</div>

<ol class="breadcrumb">
    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
</ol>

<div class="row">
    <!-- Standard button -->
    <button type="button" class="btn btn-default btn-xs">
        Default Extra
        Small
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        Default
        Small
    </button>
    <button type="button" class="btn btn-success">Default</button>
    <button type="button" class="btn btn-warning btn-lg">
        Default
        Large
    </button>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary
btn-sm">
                Save
            </button>
            <button type="button" class="btn btn-primary btn-sm
dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="savenew">Save & New</a></li>
                <li class="divider"></li>
                <li><a href="#" id="duplicate">Duplicate</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="alert alert-success alert-Dismissible">
    <strong>
        Success. You have
        successfully saved the file.
    </strong>
</div>
<div class="alert alert-info alert-Dismissible">
    <strong>
        Info. Something has just
        happened.
    </strong>
</div>
<div class="alert alert-warning alert-Dismissible">
    <strong>
        Warning! The file size is too
        big.
    </strong>
</div>

<div class="alert alert-warning alert-Dismissible" role="alert">

    <strong>Alert!</strong> This is a dismissible alert.
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></
        button>
</div>

<h4>Basic Progressbar</h4>
<div class="progress">
    <div class="progress-bar-success" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">80% Complete</span>
        80%
    </div>
</div>

<div class="progress">
    <div class="progress-bar-danger" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">80% Complete</span>
        80%
    </div>
</div>
<div class="progress">
    <div class="progress-bar-info" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">80% Complete</span>
        80%
    </div>
</div>

<div class="progress">
    <div class="progress-bar-warning" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">80% Complete</span>
        80%
    </div>
</div>

<div class="progress progress-striped active">
    <div class="progress-bar-danger" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">80% Complete</span>
        80%
    </div>
</div>

